<h1>Author Page</h1>

<% @authors.each do |author| %>
  <ul>
    <li><%= author.name %></li>
    <ul>
      <li><%= author.phone_number %></li>
      <li><%= author.email %></li>
    </ul>
  </ul>
<% end %>
